<div class="col-md-10 col-md-offset-1">
  <div class="edit-review-form">
<%= simple_form_for([@tplay, @review]) do |f| %>
    <div id="rating-form">
      <%= f.input :rating, :input_html => { :value => '5' }%>
    </div>
    <%= f.input :comment %>
    <%= f.button :submit, :class => "btn-custom2" %>
<% end %>
</div>
</div>

<script>
    $('#rating-form').raty({
        path: '/assets/',
        scoreName: 'review[rating]'
    });
</script>